/* font-family: "FiraSansRegular"; */
@font-face {
    font-family: "FiraSansRegular";
    src: url("fonts/FiraSansRegular/FiraSansRegular.eot");
    src: url("fonts/FiraSansRegular/FiraSansRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/FiraSansRegular/FiraSansRegular.woff") format("woff"),
    url("fonts/FiraSansRegular/FiraSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "FiraSansBold"; */
@font-face {
    font-family: "FiraSansBold";
    src: url("/fonts/FiraSansBold/FiraSansBold.eot");
    src: url("/fonts/FiraSansBold/FiraSansBold.eot?#iefix")format("embedded-opentype"),
    url("/fonts/FiraSansBold/FiraSansBold.woff") format("woff"),
    url("/fonts/FiraSansBold/FiraSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "FiraSansItalic"; */
@font-face {
    font-family: "FiraSansItalic";
    src: url("/fonts/FiraSansItalic/FiraSansItalic.eot");
    src: url("/fonts/FiraSansItalic/FiraSansItalic.eot?#iefix")format("embedded-opentype"),
    url("/fonts/FiraSansItalic/FiraSansItalic.woff") format("woff"),
    url("/fonts/FiraSansItalic/FiraSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "FiraSansBoldItalic"; */
@font-face {
    font-family: "FiraSansBoldItalic";
    src: url("/fonts/FiraSansBoldItalic/FiraSansBoldItalic.eot");
    src: url("/fonts/FiraSansBoldItalic/FiraSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("/fonts/FiraSansBoldItalic/FiraSansBoldItalic.woff") format("woff"),
    url("/fonts/FiraSansBoldItalic/FiraSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.group {
  margin-bottom: 1em;
}

.axis {
  font: 10px sans-serif;
 /* position: fixed;*/
  pointer-events: none;
  z-index: 2;
}

.axis text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.top {
  background-image: linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  top: 0px;
  padding: 0 0 24px 0;
}

.axis.bottom {
  background-image: linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  /*bottom: 0px;*/
  padding: 24px 0 0 0;
}

.horizon {
  border-bottom: solid 1px #000;
  overflow: hidden;
  position: relative;
}

.horizon {
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  opacity: .2;
  z-index: 2;
}

@media all and (max-width: 1439px) {
  body { margin: 0px auto; }
  .axis { position: static; }
  .axis.top, .axis.bottom { padding: 0; }
}

.caption {
    font-size : 10px; letter-spacing : 0.28px;
    padding-left: 30px;
}

.green-background {
    background: #ecf5fb;
}
